<%- if @item.gp_article_content &&
       @item.gp_article_content.template_available? &&
       @item.gp_article_content.default_template -%>
  <%= render 'gp_template/admin/shared/show', item: @item, template: @item.template, template_values: @item.template_values %>
<%- else -%>
  <table class="cms-detail">
    <tr>
      <th>初期テンプレート</th>
      <td>設定されていません。</td>
    </tr>
  </table>
<%- end -%>
